@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 220 27.27% 97.84%;
    --foreground: 220.91 39.29% 10.98%;
    --muted: 217.5 26.67% 94.12%;
    --muted-foreground: 216.92 19.12% 26.67%;
    --popover: 220 27.27% 97.84%;
    --popover-foreground: 220.91 39.29% 10.98%;
    --card: 220 27.27% 97.84%;
    --card-foreground: 220.91 39.29% 10.98%;
    --border: 218.82 27.87% 88.04%;
    --input: 218.82 27.87% 88.04%;
    --primary: 152.95 100% 37.84%;
    --primary-foreground: 220 27.27% 97.84%;
    --secondary: 217.5 26.67% 94.12%;
    --secondary-foreground: 216.92 19.12% 26.67%;
    --accent: 217.5 26.67% 94.12%;
    --accent-foreground: 216.92 19.12% 26.67%;
    --destructive: 10 87% 27%;
    --destructive-foreground: 10 87% 87%;
    --ring: 152.95 100% 37.84%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220.91 39.29% 10.98%;
    --foreground: 0 0% 100%;
    --muted: 215 27.91% 16.86%;
    --muted-foreground: 217.89 10.61% 64.9%;
    --popover: 220.91 39.29% 10.98%;
    --popover-foreground: 0 0% 100%;
    --card: 220.91 39.29% 10.98%;
    --card-foreground: 0 0% 100%;
    --border: 216.92 19.12% 26.67%;
    --input: 216.92 19.12% 26.67%;
    --primary: 152.95 100% 37.84%;
    --primary-foreground: 220.91 39.29% 10.98%;
    --secondary: 215 27.91% 16.86%;
    --secondary-foreground: 220 13.04% 90.98%;
    --accent: 215 27.91% 16.86%;
    --accent-foreground: 220 13.04% 90.98%;
    --destructive: 0 90.6% 70.78%;
    --destructive-foreground: 220.91 39.29% 10.98%;
    --ring: 152.95 100% 37.84%;
  }
} */


/* Saudi */
@layer base {
  :root {
    --background: 147 68% 100%;
    --foreground: 147 62% 1%;
    --muted: 147 18% 85%;
    --muted-foreground: 147 2% 29%;
    --popover: 147 68% 100%;
    --popover-foreground: 147 62% 1%;
    --card: 147 68% 100%;
    --card-foreground: 147 62% 1%;
    --border: 147 8% 93%;
    --input: 147 8% 93%;
    --primary: 147 56% 54%;
    --primary-foreground: 147 56% 14%;
    --secondary: 147 2% 86%;
    --secondary-foreground: 147 2% 26%;
    --accent: 147 2% 86%;
    --accent-foreground: 147 2% 26%;
    --destructive: 19 96% 24%;
    --destructive-foreground: 19 96% 84%;
    --ring: 147 56% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 147 52% 3%;
    --foreground: 147 34% 98%;
    --muted: 147 18% 15%;
    --muted-foreground: 147 2% 71%;
    --popover: 147 52% 3%;
    --popover-foreground: 147 34% 98%;
    --card: 147 52% 3%;
    --card-foreground: 147 34% 98%;
    --border: 147 8% 10%;
    --input: 147 8% 10%;
    --primary: 147 56% 54%;
    --primary-foreground: 147 56% 14%;
    --secondary: 147 20% 19%;
    --secondary-foreground: 147 20% 79%;
    --accent: 147 20% 19%;
    --accent-foreground: 147 20% 79%;
    --destructive: 19 96% 56%;
    --destructive-foreground: 0 0% 0%;
    --ring: 147 56% 54%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
}

.custom-scrollbars ::-webkit-scrollbar {
  background-color: transparent;
  height: .6em;
  width: .6em
}

.custom-scrollbars ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--muted)/1);
  background-color: hsl(var(--muted)/var(--tw-bg-opacity))
}

.custom-scrollbars ::-webkit-scrollbar-thumb {
  border-radius: .6em;
  --tw-bg-opacity: 0.2;
  background-color: hsl(var(--muted-foreground)/0.2);
  background-color: hsl(var(--muted-foreground)/var(--tw-bg-opacity))
}

.custom-scrollbars ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 0.4;
  background-color: hsl(var(--muted-foreground)/0.4);
  background-color: hsl(var(--muted-foreground)/var(--tw-bg-opacity))
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.split-tab {
  height: calc(40vh - 44px);
}

@media only screen and (min-width: 786px) {
  .split-tab {
    height: 256px;
  }
}